html {
	//overflow-y: hidden;
}
#__layout {
	transition-duration: 500ms;
}
.layout-enter-active,
.layout-leave-active {
	transition: opacity .5s;
}
.layout-enter,
.layout-leave-active {
	opacity: 0;
}
.disabled {
	opacity: 0.5
}
.pointer {
	cursor: pointer;
}
p, h4 {
	max-width: 28em;
}
.w-100 {
	width: 100%;
}
.w-50 {
	width: 50%;
}
.h-100 {
	height: 100%;
}
.display-inline-block {
	display: inline-block;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-basis: auto;
	width: 100%;
}
.column {
	display: flex;
	flex-direction: column;
	flex-basis: auto;
}
.flex {
	display: flex;
	flex-basis: auto;
}
.flex-50 {
	display: flex;
	flex-basis: 50%;
}

.align-end {
	align-content: end;
	justify-content: flex-end;
	text-align: end!important;
}

.vertical-align-container {
	display: flex;
	position: relative;
}
.vertical-align-child {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.hotpink {
	color: hotpink;
}
.color-hotpink {
	background-color: hotpink;
}
.color-izperime {
	background-color: #8e44ad;
}
.sf-button--full-width {
	height: 50px;
}
#__layout {
	width: 100%;
	max-width: 624px;
	border-radius: 20px;
	margin: 0 auto;
	overflow: hidden;
}
.sf-bottom-navigation {
	width: 100%;
	max-width: 624px;
	left: auto;
}
.sf-sidebar__aside {
	max-width: 624px;
	left: auto;
	right: auto;
}
.sf-modal, .sf-bottom-modal {
	width: 100%;
	max-width: 624px;
	left: auto;
	right: auto;
	--modal-content-padding: var(--spacer-sm) var(--spacer-lg);
	--modal-width: unset;
	--modal-top: unset;
	--modal-left: unset;
	--modal-bottom: unset;
	--modal-right: unset;
	--modal-transform: unset;
	--modal-height: unset;
	--modal-max-height: unset;
}
.sf-modal__container, .sf-bottom-modal__container {
width: 100%;
max-width: 624px;
left: auto;
right: auto;
}
.sf-overlay {
display:  none;
}
.sf-modal__close.desktop-only {
	display: none;
}
.sf-loader__overlay {
	background-color: transparent;
}
